.content-404-wrapper {
	text-align: center;

	h2 {
		font-size: 12rem;
	}

	h4 {
		font-size: 36px;
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 45px;
	}
	.number-404 {
		font-size: 10.125rem;
		font-weight: 700;
		letter-spacing: -0.16em;
	}
	.text-404 {
		max-width: 440px;
		margin: 0 auto;
		letter-spacing: 0.4px;
	}
}
