.woocommerce-loop-category__title,
.g5shop__loop-product-title,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title{
  font-size: 16px;
  font-weight: 700;
  &:hover {
    color: var(--g5-color-accent);
  }

  mark {
    background: transparent;
    padding: 0;
  }
}

