.select2-container--open {
	z-index: 999999;
}
.select2-container--default.select2-container--default .select2-selection--single {
	background-color: var(--g5-color-background-input);
	border: 1px solid var(--g5-color-border-input);
	@include border-radius(0);
	height: $height__input;
	margin: 0;

	.select2-selection__rendered {
		color: var(--g5-color-text-input);
		line-height: $height__input - 2px;
		padding-left: 20px;
	}

	.select2-selection__arrow {
		height: $height__input - 2px;
	}

	.select2-selection__placeholder {
		color: inherit;
	}

	.select2-selection__clear {
		font-weight: 400;
	}
}

