.ube-team-member .ube-tm-name {
	 font-size: 18px;
 }

.ube-tm-style-01 .ube-tm-image {
	margin-bottom: 20px;
}


.ube-team-member .ube-tm-pos {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--g5-color-muted);
}

