.gel-countdown-value {
	font-size: 60px;
	margin-bottom: 2px;
	font-weight: 300;
	color: var(--g5-color-heading);
}

.gel-countdown-text {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: var(--g5-color-heading);
}