.gel-map-point-animate {
	height: 70px;
	width: 70px;
}

.mapboxgl-popup-close-button.mapboxgl-popup-close-button {
	padding: 5px;
	line-height: 1;
	color: #666;
	font-size: 1rem;
	&:hover {
		background-color: transparent;
		content: inherit;
	}
}
