.gel-our-team-name {
	font-size: 18px;
	margin-top: 19px !important;
}

.gel-our-team-job {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: var(--g5-color-muted);
}

.gel-our-team-description {
	margin-top: 10px;
	margin-bottom: 10px;
}

.gel-our-team-avatar-circle {
	max-width: 130px;
	margin: 0 auto;
}