.g5element__product_category {
	@include d-flex();
	@include flex-flow-row();
	@include align-items-center();
}

.g5element__product_category-image {
	margin-right: 15px;
}

.g5element__product_category-title {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 16px;
}

.g5element__product_category-count-item {
	font-size: 14px;
	color: #666;
}

.g5element__product_category-count-item span:not(.g5element__product_category-count) {
	text-transform: capitalize;
}