.woocommerce ul.order_details {
	padding-left: 0;
	li {
		margin-top: 0;
	}
}

.woocommerce .woocommerce-order-details {
	.woocommerce-order-details__title {
		font-size: 24px;
		margin-bottom: 35px;
	}
}

.woocommerce-column__title {
	font-size: 24px;
	margin-bottom: 35px;
}


@media (max-width: 768px) {
.woocommerce-column--shipping-address {
	margin-top: 2em;
}
}