.g5shop__layout-list {
  .woocommerce-loop-category__title,
  .g5shop__loop-product-title {
    font-size: 20px;
  }

  .g5shop__loop-product-cat {
    font-size: 12px;
  }

  .g5shop__product-item {
	  .g5shop__product-info .star-rating {
		  margin-top: 7px;
	  }
	  .g5shop__loop-product_excerpt {
		  margin-top: 35px;
	  }
  }

}


