.g5blog__post-grid {
  &.sticky {
    .g5blog__post-inner {
      background-color: $color_background_post_sticky;
    }
  }

  .g5blog__post-title {
    font-size: 20px;
    margin-bottom: 13px;
  }

  ul.g5blog__post-meta {
    margin-bottom: 5px;
  }

  .g5blog__post-excerpt {
    margin-bottom: 12px;
    max-height: 3.2em;
  }

  .g5blog__post-featured {
    margin-bottom: 30px;
  }

  .g5blog__post-inner {
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .g5blog__post-grid {
    .g5blog__post-excerpt {
      max-height: unset;
    }
  }
}