.g5blog__post-widget {
  .g5blog__post-title {
    margin-bottom: 0;
    line-height: normal;
  }

  ul.g5blog__post-meta {
    margin-bottom: 3px;
  }

  .g5blog__post-featured {
    margin-right: 10px;
    width: 70px;
  }
}

